version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '18:00'
      timezone: Europe/Berlin
    open-pull-requests-limit: 1
    labels:
      - 'automerge'
      - 'dependencies'
