body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #61dafb;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    font-weight: 100;
    margin-right: 1em;
  }
}


nav {
  //flex: 1;
  margin: 1em;
  padding: 10px;
  background: rgba(#000, .2);
  border-radius: 10em;

  ul {
    display: flex;
  }

  li {
    a {
      display: block;
      margin: .5em .5em;
    }
  }
}

.page-wrapper {
  padding: 1em;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}
